# Binaries and Caches
__pycache__/
*.pyc
bin/
dist/

# Virtual environments
.venv/

# Local Environment / Secrets
.env
auth.json
*.pem

# IDEs
.vscode/
.idea/
*.iml

# Database files
*.db
*.duckdb

data/
*.csv