# Binaries and Caches
__pycache__/
*.pyc
bin/
dist/
*.pyo
.pytest_cache/

# Local Environment / Secrets
.env
auth.json
*.pem
venv/

# IDEs
.vscode/
.idea/

# Database files
*.db
*.duckdb


# IDE
.vscode/
.idea/

# OS
.DS_Store