# Binaries and Caches
__pycache__/
*.pyc
bin/
dist/

# Virtual environments
.venv/

# Local Environment / Secrets
.env
auth.json
*.pem

# IDEs
.vscode/
.idea/
*.iml
.mvn/
target/

# Database files
*.db
*.duckdb

data/
*.csv

# Benchmark results (local only)
terraform/results/*.json